.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.form-title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: $titles-color;
}

.form-field {
  position: relative;

  margin-bottom: 28px;
  width: 100%;
}

.form-field input {
  display: block;
  margin: 0;
  padding: 12px 42px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  font-family: "Roboto", sans-serif;
  color: $titles-color;

  transition: border $time $time-function;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translate(0, -50%);

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  transition: transform $time $time-function, font-size $time $time-function,
    color $time $time-function;

  .form-field:focus-within > &,
  input:not(:placeholder-shown) + & {
    transform: translate(-26px, calc(50% - 44px));
    font-size: 12px;
    line-height: 1.17;

    color: $accent-color;
  }
}

.form-field:focus-within > input,
.comment:focus-within > .comment-field {
  border: 1px solid $accent-color;
  border-radius: 4px;
  outline: none;
}

.comment {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.comment-field {
  display: block;
  margin: 0;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
  width: 100%;
  min-height: 120px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  font-family: "Roboto", sans-serif;
  color: $titles-color;

  transition: border $time $time-function;
}

.comment-label {
  position: absolute;

  top: 12px;
  left: 16px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  transition: transform $time $time-function, font-size $time $time-function,
    color $time $time-function;

  .comment:focus-within > &,
  .comment-field:not(:placeholder-shown) + & {
    transform: translate(0, calc(-100% - 16px));
    font-size: 12px;
    line-height: 1.17;

    color: $accent-color;
  }
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  fill: $titles-color;

  transition: fill $time $time-function;

  .form-field:focus-within > & {
    fill: $accent-color;
  }
}

.agreement {
  position: relative;

  margin-bottom: 30px;
}

.agreement-label {
  font-size: 14px;
  line-height: 1.71;
  padding-left: 24px;

  &::before {
    content: "";
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translate(-100%, -50%);

    width: 16px;
    height: 15px;

    background-image: url(../images/checkbox.svg);
  }
}

.checkbox:checked + .agreement-label::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(-100%, -50%);

  width: 16px;
  height: 15px;

  background-image: url(../images/checkbox-checked.svg);
  background-color: $accent-color;
  border-radius: 2px;

  transition: background-image $time $time-function,
    background-color $time $time-function;
}

.agreement a {
  text-decoration-line: underline;
  color: $accent-color;
}

.submit-button {
  @extend .modal-button;
}

.icon-close {
  fill: $black-color;
  width: 18px;
  height: 18px;

  transition: fill $time $time-function;

  .button-close:hover & {
    fill: $accent-color;
  }
}

.button-close {
  position: absolute;
  display: block;
  right: 8px;
  top: 8px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 6px;
  line-height: 0;

  background-color: $white-color;

  cursor: pointer;
}
